@import "variable.css";
.comment{
   background: var(--secondary-color);
   padding: 15px;
   margin-top: 15px;
   margin-bottom: 15px; 
}

.comment:hover{
    background: var(--primary-background);
}

.title{
    margin: 0;
}

.user-name{
    padding: 3px;
    border: solid 1px var(--primary-background);
}

input:focus{
    border: var(--primary-background);
    border-width: 3px;
}

textarea{
    width: 100%;
    height: 100px;
    resize: none;
}