.comment{
   background: #B3B300;
   padding: 15px;
   margin-top: 15px;
   margin-bottom: 15px; 
}

.comment:hover{
    background: #000;
}

.title{
    margin: 0;
}

.user-name{
    padding: 3px;
    border: solid 1px #000;
}

input:focus{
    border: #000;
    border-width: 3px;
}

textarea{
    width: 100%;
    height: 100px;
    resize: none;
}